*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #0b0c10, #3b4450);
  font-family:'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    height: 100vh;
    gap: 20px;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
    }

@media (min-width: 650px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "sidebar content"
      "footer  footer";
  }
}

@media (min-width: 1000px) {
    .wrapper {
      justify-content:center;
      grid-template-columns: 245px 60vw;
      grid-template-areas:
        "header  header"
        "sidebar content"
        "sidebar content"
        "footer  footer";
    }
  }

.main-head {
    grid-area: header;
    padding: 15px;
    text-align: left;
    border: 3px solid #c5c6c7;
    border-radius: 0 0px 500px 0;
    box-shadow: 5px 5px 10px #66fcf1;

  }

.content {
  grid-area: content;
  background: linear-gradient(to right, #0b0c10, #3b4450);
  border:2px solid #c5c6c7;
  padding: 35px;
  box-shadow: 5px 5px 10px #66fcf1;
}

.fecha{
  display: inline-block;
  border: 1px solid #95efef;
  border-radius: 6px;
  padding: 3px;
  margin-top: 5px;
  font-size: 12px;
  color: #95efef;
  font-weight: bold;
}

.detalle{
  font-size: 20px;
  font-weight: bold;
  color: #95efef;
  
}

.compania{
  color: grey;
  font-weight: bold;
}

.tema{
  border-bottom: 1px solid #66fcf1;
  color: #c5c6c7;
}

.nav{
  --bs-nav-link-color: #c5c6c7;
  --bs-nav-link-hover-color: darkgrey;
}

.nav-tabs .nav-link.active {
  color: #0b0c10;
}

.contact-container {
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c6c7;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #c5c6c7;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0b0c10;
  color: #c5c6c7;
  padding: 12px 20px;
  border: 2px solid #66fcf1;

}

input[type=submit]:hover {
  background-color: grey;
  color: #0b0c10;
  font-weight: bold;
}

label{
  color: #c5c6c7
}

.redesSociales{
  margin-left: 20px;
}

.iconoRedSocial{
  color: #c5c6c7;
}

.side{
  grid-area: sidebar;
  background: linear-gradient(to right, #0b0c10, #3b4450);
  color: #c5c6c7;
  padding: 15px;
  text-align: justify;
  border: 2px solid #c5c6c7;
  box-shadow: 5px 5px 10px #66fcf1;  
  }

.main-footer {
  grid-area: footer;
  text-align: center;
  padding-bottom: 5px;
  }

.hyperlink{color: #66fcf1}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


h1{
  font-size: 60px;
  font-weight: bold;
  color: #95efef;
  text-shadow: 10px 10px rgba(125, 216, 237, 0.3);
  margin: 0;
  }
  
h2{
  margin-top: 20px;
  font-size: 30px;
  font-style: italic;
  color: #66fcf1;
  }

h4{
  color: #95efef;
  margin-top: 5px;}

#mugshot {
  width: 130px;
  margin: 20px 10px;
  border-radius: 100%;
  border: 3px solid #66fcf1;
  }

#cambioImagen{
  background-color: #0b0c10;
  color: #c5c6c7;
  border: 2px solid #66fcf1;
  padding: 6px 10px;
  border-radius: 10px;

}

#cambioImagen:hover {
  background-color: grey;
  color: #0b0c10;
  font-weight: bold;
}

#aboutme{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #95efef;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #66fcf1;
  border-bottom: 1px solid #66fcf1;
  }

.img{
  text-align: center;
  margin-bottom: 10px;
}

.port-container {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to left, #0b0c10, #3b4450);
  border:2px solid #c5c6c7;
  box-shadow: 5px 5px 10px #66fcf1;
}

.port-container .image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.port-container .image-container .image{
  height: 250px;
  width: 350px;
  border: 3px solid #66fcf1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  overflow: hidden;
  cursor: pointer;
}

.port-container .image-container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.port-container .image-container .image:hover img{
  transform: scale(1.1);
}

.port-container .popup-image{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.port-container .popup-image span{
  position:absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #c5c6c7;
  cursor: pointer;
  z-index: 100;
}

.port-container .popup-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #c5c6c7;
  border-radius: 5px;
  width: 95%;
  object-fit: cover;
}

.port-container .review-container{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.port-header{
  padding: 30px;
  border-bottom: 1px solid #66fcf1;
  font-size: 40px;
  font-style: initial;
  text-align: center;
}

#reseña{
  min-height: 150px;
  max-width: 850px;
  min-width: 250px;
  border: 3px solid #c5c6c7;
}

.port-footer{
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}

.hyperlink{color: #66fcf1}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }